In [ ]:
import numpy as np
# Creating a dataset with 15 students and 5 attributes
data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])

# Printing the dataset with student labels
print("Student\tHeight\tWeight\tAge\tAvg Grade\tCourses")
for index, student in enumerate(data):
    print(f"Student {index + 1}\t{student[0]}\t{student[1]}\t{student[2]}\t{student[3]}\t\t{student[4]}")

Student	Height	Weight	Age	Avg Grade	Courses
Student 1	170	65	19	85		5
Student 2	180	75	20	90		6
Student 3	160	55	18	80		4
Student 4	175	70	21	88		7
Student 5	155	50	19	82		5
Student 6	165	62	22	89		6
Student 7	178	80	23	91		7
Student 8	162	58	20	78		3
Student 9	172	68	19	86		5
Student 10	169	66	20	84		4
Student 11	171	64	22	87		6
Student 12	177	72	21	90		9
Student 13	174	76	24	88		8
Student 14	158	52	18	75		3
Student 15	164	63	19	81		4

In [ ]:
#Question 1.1
import numpy as np

data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])

heights=data[:,0]
avg=np.mean(heights)
print("The average height of the students is", avg)

The average height of the students is 168.66666666666666

In [2]:
#Question 1.2
import numpy as np

data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])
ages=data[:,2]
oldest=np.max(ages)
print("The oldest age of the students is", oldest)

The oldest age of the students is 24

In [3]:
#Question 1.3
import numpy as np

data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])
courses=data[:,4]
max_index=np.argmax(courses)
print("The index of student that took the most courses is", max_index)

The index of student that took the most courses is 11

In [4]:
#Question 1.4
import numpy as np

data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])
average_grades = data[:, 3]
grades_above_85=average_grades>85
num_above_85=np.sum(grades_above_85)
print("The number of students with grades above 85 is",num_above_85)

The number of students with grades above 85 is 8

In [ ]:
#Question 1.5
import numpy as np

data = np.array([
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
])
age=data[:,2]
grade=data[:,3]
ratio=age/grade
print(f"students\tage to grade ratio")
for index, ratio in enumerate(ratio):
  print(f"Student {index+1}\t{ratio}")

students	age to grade ratio
Student 1	0.2235294117647059
Student 2	0.2222222222222222
Student 3	0.225
Student 4	0.23863636363636365
Student 5	0.23170731707317074
Student 6	0.24719101123595505
Student 7	0.25274725274725274
Student 8	0.2564102564102564
Student 9	0.22093023255813954
Student 10	0.23809523809523808
Student 11	0.25287356321839083
Student 12	0.23333333333333334
Student 13	0.2727272727272727
Student 14	0.24
Student 15	0.2345679012345679